body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

select {
    padding: 8px;
    font-size: 14px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Styling for the index page buttons */
#index-yes-btn,
#index-no-btn,
#index-back-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#index-yes-btn:hover {
    background-color: #45a049;
}

#index-no-btn:hover {
    background-color: #d32f2f;
}

#index-back-btn {
    background-color: #2196F3;
    color: #fff;
}

#index-back-btn:hover {
    background-color: #0d8bf2;
}

#show-flagged-values-no-btn,
#show-flagged-values-back-btn,
#submit-answer-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#show-flagged-values-no-btn:hover {
    background-color: #d32f2f;
}

#show-flagged-values-back-btn {
    background-color: #2196F3;
    color: #fff;
}

#show-flagged-values-back-btn:hover {
    background-color: #0d8bf2;
}

/* Styling for the find_missing_values page buttons */
#find-missing-yes-btn,
#find-missing-no-btn,
#find-missing-back-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#find-missing-yes-btn:hover {
    background-color: #45a049;
}

#find-missing-no-btn:hover {
    background-color: #d32f2f;
}

#find-missing-back-btn {
    background-color: #2196F3;
    color: #fff;
}

#find-missing-back-btn:hover {
    background-color: #0d8bf2;
}

#question-count {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    color: #777;
}

/* Styling for the question-container */
#question-container {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}



/* Styling for the error message */
.error-message {
    color: #d32f2f;
    margin-top: 10px;
    display: none; /* Initially hidden */
}

.input-error-animation {
    animation: shake 0.3s;
    border-color: #d32f2f; /* Red border to indicate error */
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

/* Add this class to your input field when validation fails */
.error {
    border: 2px solid #d32f2f; /* Red border to indicate error */
    animation: shake 0.5s; /* Shake animation */
}

/* Styling for the modal */
#errorModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    background: #ffef0da8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#buttonsContainer {
    margin-top: 20px;
}

/* Styling for the close modal button */
#closeModal {
    background-color: #d32f2f;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#closeModal:hover {
    background-color: #b72020;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: none;
    width: 40%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Rounded corners */
    text-align: center;
    position: relative; /* For positioning the close button absolutely */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#user-query-input {
    width: 100%; /* Full width */
    padding: 12px 20px;
    margin: 8px 0;
    display: block; /* Ensure it fills the width of its container */
    border: 2px solid #009688; /* More visible border color */
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding does not affect the width */

    /* Smoothly transition the box-shadow and border */
    transition: box-shadow 0.3s ease, border 0.3s ease;
}

#user-query-input:focus {
    outline: none; /* Removes the default focus outline */
    border-color: #26a69a; /* A different border color for focus */
    box-shadow: 0 0 8px rgba(38, 166, 154, 0.6); /* A subtle box-shadow that matches the border color */
}

#user-query-input.error {
    border-color: #d32f2f; /* Error color */
    /* Optional: Add a background color */
    background-color: #ffebee; /* Very light red */
}


#submit-query-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    font-size: 16px; /* Increase font size for better legibility */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add some shadow for depth */
}

#submit-query-btn:hover {
    opacity: 0.9; /* Slightly less opacity on hover */
}

#submit-query-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#show-flagged-values-btn {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #cacaca;
    
}

#show-flagged-values-btn:hover {
    background-color: #45a049; 
    color: #fff; 
}

#index-find-missing-btn {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #cacaca;
}

#index-find-missing-btn:hover {
    background-color: #45a049; 
    color: #fff; 
}

.tooltip-icon {
    cursor: pointer;
    width: 16px; /* or your preferred size */
    height: 16px; /* or your preferred size */
    vertical-align: middle;
    margin-left: 5px;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.completion-message {
    font-size: 1.5rem;
    color: green;
    text-align: center;
    margin-top: 20px;
}

#home-page-button {
    display: block; /* Ensure the button is block-level so it takes up its own line */
    width: auto; /* Auto width based on content */
    margin: 20px auto; /* Center the button horizontally */
    padding: 10px 20px; /* Add some padding */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    cursor: pointer; /* Cursor to pointer to indicate it's clickable */
    font-size: 1rem; /* Font size */
    border-radius: 5px; /* Rounded corners */
}

#home-page-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.last-question-notification {
    color: red;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

