body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

select {
    padding: 8px;
    font-size: 14px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Specific styling for the "All Questions" button */
#all-questions-btn {
    color: #fff;
    background-color: #2196F3;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
}

#all-questions-btn:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* Styling for the index page buttons */
#index-yes-btn,
#index-no-btn{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#index-yes-btn:hover {
    background-color: #45a049;
}

#index-no-btn:hover {
    background-color: #d32f2f;
}

#index-back-btn {
    background: none;
    background-image: url('http://localhost/project/templates/back.png'); /* Set the URL of your back arrow image */
    position: absolute; /* Position it absolutely within the question container */
    top: 10px; /* Adjust as needed for vertical alignment */
    left: 10px; /* Adjust as needed for horizontal alignment */
    width: 50px; /* Width of the button - adjust as needed */
    height: 50px; /* Height of the button - adjust as needed */
    background-repeat: no-repeat;
}

#show-flagged-values-no-btn,
#submit-answer-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#show-flagged-values-no-btn:hover {
    background-color: #d32f2f;
}

#show-flagged-values-back-btn {
    background: none;
    background-image: url('http://localhost/project/templates/back.png'); /* Set the URL of your back arrow image */
    position: absolute; /* Position it absolutely within the question container */
    top: 10px; /* Adjust as needed for vertical alignment */
    left: 10px; /* Adjust as needed for horizontal alignment */
    width: 50px; /* Width of the button - adjust as needed */
    height: 50px; /* Height of the button - adjust as needed */
    background-repeat: no-repeat;
}

/* Styling for the find_missing_values page buttons */
#find-missing-yes-btn,
#find-missing-no-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#find-missing-yes-btn:hover {
    background-color: #45a049;
}

#find-missing-no-btn:hover {
    background-color: #d32f2f;
}

#find-missing-back-btn {
    background: none;
    background-image: url('http://localhost/project/templates/back.png'); /* Set the URL of your back arrow image */
    position: absolute; /* Position it absolutely within the question container */
    top: 10px; /* Adjust as needed for vertical alignment */
    left: 10px; /* Adjust as needed for horizontal alignment */
    width: 50px; /* Width of the button - adjust as needed */
    height: 50px; /* Height of the button - adjust as needed */
    background-repeat: no-repeat;
}

#question-count {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    color: #777;
}

/* Styling for the question-container */
#question-container {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: relative;
}

#question-container .action-btn {
    z-index: 2;
}

/* Styling for the error message */
.error-message {
    color: #d32f2f;
    margin-top: 10px;
    display: none; /* Initially hidden */
}

.input-error-animation {
    animation: shake 0.3s;
    border-color: #d32f2f; /* Red border to indicate error */
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

/* Add this class to your input field when validation fails */
.error {
    border: 2px solid #d32f2f; /* Red border to indicate error */
    animation: shake 0.5s; /* Shake animation */
}

/* Styling for the modal */
#errorModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    background: #ffef0da8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#buttonsContainer {
    margin-top: 20px;
}

/* Styling for the close modal button */
#closeModal {
    background-color: #d32f2f;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#closeModal:hover {
    background-color: #b72020;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: none;
    width: 40%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Rounded corners */
    text-align: center;
    position: relative; /* For positioning the close button absolutely */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#user-query-input {
    width: 100%; /* Full width */
    padding: 12px 20px;
    margin: 8px 0;
    display: block; /* Ensure it fills the width of its container */
    border: 2px solid #009688; /* More visible border color */
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding does not affect the width */

    /* Smoothly transition the box-shadow and border */
    transition: box-shadow 0.3s ease, border 0.3s ease;
}

#user-query-input:focus {
    outline: none; /* Removes the default focus outline */
    border-color: #26a69a; /* A different border color for focus */
    box-shadow: 0 0 8px rgba(38, 166, 154, 0.6); /* A subtle box-shadow that matches the border color */
}

#user-query-input.error {
    border-color: #d32f2f; /* Error color */
    /* Optional: Add a background color */
    background-color: #ffebee; /* Very light red */
}

#submit-query-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    font-size: 16px; /* Increase font size for better legibility */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add some shadow for depth */
}

#submit-query-btn:hover {
    opacity: 0.9; /* Slightly less opacity on hover */
}

#submit-query-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#show-flagged-values-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #2196F3;
    
}

#show-flagged-values-btn:hover {
    background-color: #45a049; 
    color: #fff; 
}

#index-find-missing-btn {
    
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #2196F3;
}

#index-find-missing-btn:hover {
    background-color: #45a049; 
    color: #fff; 
}

.tooltip-icon {
    cursor: pointer;
    width: 16px; 
    height: 16px; 
    vertical-align: middle;
    margin-left: 5px;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.completion-message {
    font-size: 1.5rem;
    color: green;
    text-align: center;
    margin-top: 20px;
}

#home-page-button {
    display: block; /* Ensure the button is block-level so it takes up its own line */
    width: auto; /* Auto width based on content */
    margin: 20px auto; /* Center the button horizontally */
    padding: 10px 20px; /* Add some padding */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    cursor: pointer; /* Cursor to pointer to indicate it's clickable */
    font-size: 1rem; /* Font size */
    border-radius: 5px; /* Rounded corners */
}

#home-page-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.last-question-notification {
    color: red;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

/* Index Yes Dialog Box*/

.dialog {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 15px;
    padding-top: 40px; /* Extra padding at the top for the close button */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    width: 40%; /* Fixed width */
    max-width: 90%; /* Maximum width of the dialog box */
    box-sizing: border-box; /* Ensures padding doesn't add to the width */
    z-index: 1000;
    position: relative;
}
  
.row {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Spread content evenly */
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
}

.row:last-child {
    border-bottom: none;
}

.column-name, .default-value, .modify-btn-group, .input-field {
    /* Using 'min-width' and 'max-width' to define ranges for different elements */
    min-width: 0; /* Prevent flex items from overflowing */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add an ellipsis to text that overflows */
}

.column-name {
    flex: 1; /* Allows the column name to grow */
    margin-right: 10px;
    text-align: left;
}

.default-value {
    margin-right: 10px; /* Adjust space between default value and buttons */
    text-align: center;
    flex-basis: auto; /* Fixed basis for default value, adjust as needed */
    flex-shrink: 1; /* Prevent the default value from shrinking */
}

.modify-btn-group {
    display: flex;
    flex-shrink: 0; /* Prevent button group from shrinking */
}

.modify-btn {
    padding: 4px 8px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.2s ease-in-out;
    width: 60px; /* Smaller button width */
    
}

  .yes-btn {
    background-color: #5cb85c;
    color: white;
    border-color: #4cae4c;
  }
  
  .no-btn {
    background-color: #d9534f;
    color: white;
    border-color: #d43f3a;
  }
  
.modify-btn:hover {
    opacity: 0.9;
    transform: scale(1.05);
  }
  
.input-field {
    flex: 1; /* Allows the input field to grow twice as much as the column names */
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: opacity 0.5s ease-in-out;
}

.input-error {
    border-color: red; /* Highlight error fields */
}

.input-error-highlight {
    border: 1px solid red; /* Red border to indicate error */
}

.input-error-message {
    color: red;
    font-size: 0.8rem;
    display: none; /* Initially hidden */
    margin-top: 4px;
}

.input-shake {
    animation: input-shake-animation 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes input-shake-animation {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
}

    #submitAnswer {
    background-color: #337ab7;
    color: white;
    padding-top: 20px;
    padding: 10px 15px;
    border-top: 2px solid #eaeaea;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto 0;
    font-weight: bold;
  }
  
  #submitAnswer:hover {
    background-color: #286090;
  }
  
  /* Adjusting the close button of dialog box */
  .close-dialog {
    position: absolute;
    top: 2px; 
    right: 15px; 
    padding: 0;
    background-color: transparent;
    color: #aaa;
    border: none;
    cursor: pointer;
    font-size: 24px;
}
  
  .close-dialog:hover {
    color: #f44336;
  }
  
/* Responsive adjustments */
@media (max-width: 768px) {
    /* Increase width for better readability on smaller screens */
    .dialog {
        width: 95%;
    }

    .input-field, .column-name, .modify-btn-group, .default-value {
        /* Full width on smaller screens */
        flex-basis: calc(100% - 20px); 
        margin-bottom: 10px; /* Add spacing */
    }

    .modify-btn-group {
        justify-content: flex-start; /* Align buttons to the start */
    }
}

@media (max-width: 480px) {
    .row {
        flex-direction: column; /* Stack elements vertically */
    }

    /* Full width for all elements on smallest screens */
    .modify-btn, .default-value, .column-name, .input-field {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
}
  
/* Overlay styles */
.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5); /* Semi-transparent black background */
    z-index: 999; /* Below the dialog box */
  }
  
  /* Active state when the dialog is open */
  .overlay.active {
    display: block;
    backdrop-filter: blur(1px); /* Apply blur effect */
  }
  
  /* Flagged Values Dialog Box */
.flagged-dialog {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 15px;
    padding-top: 40px; /* Extra padding at the top for the close button */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    width: 40%; /* Fixed width */
    max-width: 90%; /* Maximum width of the dialog box */
    box-sizing: border-box; /* Ensures padding doesn't add to the width */
    z-index: 1000;
    position: relative;
}

.flagged-row {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Spread content evenly */
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
}

.flagged-column-name, .flagged-default-value, .flagged-modify-btn, .flagged-input-field {
/* Using 'min-width' and 'max-width' to define ranges for different elements */
    min-width: 0; /* Prevent flex items from overflowing */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add an ellipsis to text that overflows */
}

.flagged-column-name {
    flex: 1; /* Allows the column name to grow */
    margin-right: 5px;
    text-align: left;
}

.flagged-default-value {
    margin-right: 5px; /* Adjust space between default value and buttons */
    text-align: center;
    flex-basis: auto; /* Fixed basis for default value, adjust as needed */
    flex-shrink: 1; /* Prevent the default value from shrinking */
}

.flagged-modify-btn-group {
    display: flex;
    flex-shrink: 0; /* Prevent button group from shrinking */
}

.flagged-modify-btn {
    padding: 4px 8px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.2s ease-in-out;
    width: 60px; /* Smaller button width */
    
}

.flagged-yes-btn {
    background-color: #5cb85c;
    color: white;
    border-color: #4cae4c;
}

.flagged-no-btn {
    background-color: #d9534f;
    color: white;
    border-color: #d43f3a;
}

.flagged-modify-btn:hover {
    opacity: 0.9;
    transform: scale(1.05);
  }

.flagged-input-field {
    flex: 1; /* Allows the input field to grow twice as much as the column names */
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: opacity 0.5s ease-in-out;
}

.flagged-input-error {
    border-color: red; /* Highlight error fields */
}

.flagged-input-error-highlight {
    border: 1px solid red; /* Red border to indicate error */
}

.flagged-input-error-message {
    color: red;
    font-size: 0.8rem;
    display: none; /* Initially hidden */
    margin-top: 4px;
}
.flagged-input-shake {
    animation: input-shake-animation 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

/* Animation for input shake */
@keyframes flagged-input-shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
}

#submitFlaggedAnswer {
    background-color: #337ab7;
    color: white;
    padding-top: 20px;
    padding: 10px 15px;
    border-top: 2px solid #eaeaea;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto 0;
    font-weight: bold;
  }
  
#submitFlaggedAnswer:hover {
    background-color: #286090;
  }

/* Close button */
.close-flagged-dialog {
    position: absolute;
    top: 2px; 
    right: 15px; 
    padding: 0;
    background-color: transparent;
    color: #aaa;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.close-flagged-dialog:hover {
    color: #f44336;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    /* Increase width for better readability on smaller screens */
    .flagged-dialog {
        width: 95%;
    }

    .flagged-input-field, .flagged-column-name, .flagged-modify-btn-group, .flagged-default-value {
        /* Full width on smaller screens */
        flex-basis: calc(100% - 20px); 
        margin-bottom: 10px; /* Add spacing */
    }

    .flagged-modify-btn-group {
        justify-content: flex-start; /* Align buttons to the start */
    }
}

@media (max-width: 480px) {
    .flagged-row {
        flex-direction: column; /* Stack elements vertically */
    }

    /* Full width for all elements on smallest screens */
    .flagged-modify-btn, .flagged-default-value, .flagged-column-name, .flagged-input-field {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
}


/* Overlay styles for flagged dialog */
.flagged-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5); /* Semi-transparent black background */
    z-index: 999; /* Below the dialog box */
}

.flagged-overlay.active {
    display: block; /* Show overlay when active */
}

/* Hamburger Menu Button */
.hamburger-menu {
    font-size: 26px; /* Large icon size */
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    left: 20px;
}

/* The side navigation menu */
.side-nav {
    height: 100%;
    width: 0; /* Zero width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #e7e6e6; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    padding-top: 60px; /* Place content 60px from the top */
}

/* The navigation menu links */
.side-nav button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: left;
    border: none;
    background: none;
}

/* When you mouse over the navigation links, change their color */
.side-nav button:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: red;
}

/* When you mouse over the close button, change its color */
.side-nav .closebtn:hover {
    color: #f1f1f1; /* Light color for hover state */
}

@media (max-width: 768px) {
    .hamburger-menu {
        position: fixed; /* Fix the hamburger menu on top for mobile devices */
    }
}

.action-btn {
    display: block; /* Make the button take the full width of its parent */
    width: calc(100% - 20px); /* Full width minus left and right margins */
    margin-left: 10px; /* Margin from the left side */
    margin-right: 10px; /* Margin from the right side */
    margin-bottom: 10px; /* Space between buttons */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Center the text inside the button */
    box-sizing: border-box; /* Include padding and border in the width */
}

.action-btn-sidebar {
    display: block; /* Make the button take the full width of its parent */
    width: 90%; /* Set a fixed width percentage of the parent container */
    margin: 10px auto; /* Center the button and add spacing above and below */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Center the text inside the button */
    box-sizing: border-box; /* Include padding and border in the width */
    background-color: #2196F3; /* Blue background */
    color: white; /* White text */
}

/* Optionally, you can set a minimum width to ensure buttons are not too small on very narrow screens */
@media (min-width: 300px) {
    .action-btn {
        min-width: 280px; /* Adjust the minimum width as needed */
    }
}

#index-no-modify-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2196F3;
    color: #fff;
}

#missing-no-modify-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2196F3;
    color: #fff;
}

#flagged-no-modify-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2196F3;
    color: #fff;
}

#show-all-answered-questions-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #2196F3;
    
}