<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Cleaning Expertise</title>
    
    <link rel="stylesheet" href="homepagestyle.css">
</head>
<body>
    <div class="container">
        <h1>Data Cleaning Expertise</h1>
        <p>Enhance your database quality with the help of human experts. Participate in our interactive Q&A to improve data accuracy.</p>
        <button id="startButton" class="animate">Start Answering The Question</button>
    </div>
    <script src="homepagejsscript.js"></script>

</body>
</html>
