<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query Oriented Data Cleaning</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index_css.css') }}">
</head>

<body>
    <div class="container">
        <h1>Query Oriented Data Cleaning</h1>
        <div id="question-container"></div>
        <p id="question-count"></p>
        <button id="index-yes-btn" class="action-btn">Yes</button>
        <button id="index-no-btn" class="action-btn">No</button>
        <button id="index-back-btn" class="action-btn">Back</button>
        <button id="index-find-missing-btn" class="action-btn" onclick="window.location.href='/find_missing_values'">Find Missing Data Values</button>
        <button id="find-missing-yes-btn" class="action-btn">Yes</button>
        <button id="find-missing-no-btn" class="action-btn">No</button>
        <button id="find-missing-back-btn" class="action-btn">Back</button>
        <button id="show-flagged-values-btn" class="action-btn" onclick="window.location.href='/show_flagged_values_questions'">Show Flagged Values Question</button>
        <button id="submit-answer-btn">Submit Answer</button>

    </div>
    <div id="queryModal" class="modal">
        <div class="modal-content">
            <span id="closeModal" class="close">&times;</span>
            <label>Provide a query to correct the value:</label>
            <input type="text" id="user-query-input" />
            <button id="submit-query-btn">Submit Query</button>
        </div>
    </div>
    <script>
        let displayedRowIdMissing; // Variable to store the displayed row ID for missing data questions
        document.addEventListener('DOMContentLoaded', function () {
        var preRenderedQuestions = {{ pre_rendered_questions | safe }};
        var generatedQueries = [];

        // Get the current URL
        var currentUrl = window.location.href;

        // Select buttons based on the current URL
        const yesBtn = document.getElementById('index-yes-btn');
        const noBtn = document.getElementById('index-no-btn');
        const backBtn = document.getElementById('index-back-btn');
        const findMissingBtn = document.getElementById('index-find-missing-btn');

        // Select buttons for the find_missing_values page
        const findMissingYesBtn = document.getElementById('find-missing-yes-btn');
        const findMissingNoBtn = document.getElementById('find-missing-no-btn');
        const findMissingBackBtn = document.getElementById('find-missing-back-btn');
        
        const submitAnswerBtn = document.getElementById('submit-answer-btn');
        

        // Check if on the find_missing_values page
        if (currentUrl.includes('/find_missing_values')) {
            // Hide buttons on the index page
            yesBtn.style.display = 'none';
            noBtn.style.display = 'none';
            backBtn.style.display = 'none';
            findMissingBtn.style.display = 'none';
            submitAnswerBtn.style.display = 'none';

            // Show buttons on the find_missing_values page
            findMissingYesBtn.style.display = 'inline-block';
            findMissingNoBtn.style.display = 'inline-block';
            findMissingBackBtn.style.display = 'inline-block';

        } else {
            // Show buttons on the index page
            yesBtn.style.display = 'inline-block';
            noBtn.style.display = 'inline-block';
            backBtn.style.display = 'inline-block';
            findMissingBtn.style.display = 'inline-block';

            // Hide buttons on the find_missing_values page
            findMissingYesBtn.style.display = 'none';
            findMissingNoBtn.style.display = 'none';
            findMissingBackBtn.style.display = 'none';
            submitAnswerBtn.style.display = 'none';
        }

        console.log('Pre-rendered questions:', preRenderedQuestions);

        let currentQuestionIndex = 0;
        let totalQuestions = preRenderedQuestions.length;

        const questionContainer = document.getElementById('question-container');
        const questionCount = document.getElementById('question-count');

        let displayedRowId; // Variable to store the displayed row ID
        

        function displayQuestion() {
    console.log('Executing displayQuestion');

    if (currentQuestionIndex < totalQuestions) {
        console.log('Displaying question:', preRenderedQuestions[currentQuestionIndex]);
        const currentQuestion = preRenderedQuestions[currentQuestionIndex];
        displayedRowId = currentQuestion.row_id; // Store the row ID
        questionContainer.innerHTML = `
            <label>${formatQuestionText(currentQuestion.message)}</label>
        `;
        updateQuestionCount();

        if (currentUrl.includes('/find_missing_values')) {
            displayedRowIdMissing = currentQuestion.row_id; // Update displayedRowIdMissing for missing data questions
        }

        console.log(`Currently Displayed Row ID : ${displayedRowId}`);
        console.log(`Currently Displayed Row ID (Missing Data): ${displayedRowIdMissing}`);
    } else {
        alert('All questions answered. Submitting form...');
    }
}

            function formatQuestionText(questionText) {
                // Replace single quotes around empty values with underscores
                return questionText.replace(/''/g, '_______');
            }

            function updateQuestionCount() {
                questionCount.textContent = `${currentQuestionIndex + 1} of ${totalQuestions}`;
            }

            function answerYes_index() {
        const modal = document.getElementById('queryModal');
        modal.style.display = 'block';

        const submitQueryBtn = document.getElementById('submit-query-btn');
        submitQueryBtn.addEventListener('click', function () {
            const userQueryInput = document.getElementById('user-query-input');
            const userQuery = userQueryInput.value.trim();

            if (userQuery !== '') {
                // Extract question details from the current question
                const currentQuestion = preRenderedQuestions[currentQuestionIndex];

                // Send the user-provided answer to the server
                updateDatabaseWithAnswer(userQuery, currentQuestion);

                // Clear the input field
                userQueryInput.value = '';

                // Close the modal
                modal.style.display = 'none';
            } else {
                alert('Please provide a valid query.');
            }
        });

        const closeModalBtn = document.getElementById('closeModal');
        closeModalBtn.addEventListener('click', function () {
            modal.style.display = 'none';
        });
    }

            function findMissingPageAnswerYes() {
        const modal = document.getElementById('queryModal');
        modal.style.display = 'block';

        const submitQueryBtn = document.getElementById('submit-query-btn');
        submitQueryBtn.addEventListener('click', function () {
            const userQueryInput = document.getElementById('user-query-input');
            const userQuery = userQueryInput.value.trim();

            if (userQuery !== '') {
                // Extract question details from the current question
                const currentQuestion = preRenderedQuestions[currentQuestionIndex];

                // Send the user-provided answer to the server
                updateDatabaseWithAnswer(userQuery, currentQuestion);

                // Clear the input field
                userQueryInput.value = '';

                // Close the modal
                modal.style.display = 'none';
            } else {
                alert('Please provide a valid query.');
            }
        });

        const closeModalBtn = document.getElementById('closeModal');
        closeModalBtn.addEventListener('click', function () {
            modal.style.display = 'none';
        });
    }

            // Function to update the database with the provided answer
            function updateDatabaseWithAnswer(userQuery, currentQuestion) {
                const [_, rowId, mainColumn, relatedColumn] = currentQuestion.name.split('_');

                // Dynamically extract the relatedColumn from the question text
                const questionText = currentQuestion.message;
                const relatedColumnMatch = questionText.match(/The (.*?):/);
                const dynamicRelatedColumn = relatedColumnMatch ? relatedColumnMatch[1].trim() : null;

                const data = {
                    rowId: rowId,
                    mainColumn: mainColumn,
                    relatedColumn: dynamicRelatedColumn, // Use the dynamically extracted relatedColumn
                    answer: userQuery,
                };

                // Send a POST request to the server to process the answer and update the database
                fetch('/process_answers', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);

                    // Increment the currentQuestionIndex and display the next question
                    currentQuestionIndex++;
                    if (currentQuestionIndex < totalQuestions) {
                        displayQuestion();
                    } else {
                        alert('All questions answered. Submitting form...');
                    }
                })
                .catch(error => console.error(error));
}

function answerNo_index() {
    const currentQuestion = preRenderedQuestions[currentQuestionIndex];

    // Send a POST request to the server to log the current row ID
    fetch('/log_current_row_id', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ row_id: currentQuestion.row_id }),  // Pass the current question's row_id
    })
    .then(response => response.json())
    .then(data => {
        // Move to the next question
        currentQuestionIndex++;

        // Check if there are more questions before displaying
        if (currentQuestionIndex < totalQuestions) {
            displayQuestion();

            
        } else {
            alert('All questions answered. Submitting form...');
        }
    })
    .catch(error => console.error(error));
}

function findMissingPageAnswerNo() {
    currentQuestionIndex++;
    if (currentQuestionIndex < totalQuestions) {
        displayQuestion();
        console.log(`Missing Page Answer No : ${displayedRowIdMissing}`);
    } else {
        alert('All questions answered. Submitting form...');
    }
}

            function goBack_index() {
                    currentQuestionIndex--;
                    if (currentQuestionIndex >= 0) {
                        displayQuestion();
                    } else {
                        alert('No more previous questions.');
                        currentQuestionIndex = 0;
                    }
                    
                }
                
            function findMissingPageGoBack() {
                    currentQuestionIndex--;
                    if (currentQuestionIndex >= 0) {
                        displayQuestion();
                    } else {
                        alert('No more previous questions.');
                        currentQuestionIndex = 0;
                    }
                    
                }
            
                function findMissingValues() {
                const filteredMissingQuestions = preRenderedQuestions.filter(question => {
                    const mainColumn = question.message.split("'")[1];
                    const mainColumnValue = row[mainColumn];
                    return mainColumnValue === '';
                });

                console.log('Filtered Missing Questions:', filteredMissingQuestions);

                totalQuestions = filteredMissingQuestions.length;

                if (totalQuestions > 0) {
                    currentQuestionIndex = 0;
                    preRenderedQuestions = filteredMissingQuestions;
                    findMissingBtn.disabled = true;
                    displayQuestion();
                } else {
                    questionContainer.innerHTML = '<p>No missing data questions found.</p>';
                    questionCount.textContent = '0 of 0';
                }

                updateGeneratedQueries();
            }
            
            function showFlaggedValuesQuestions() {
    console.log('Show Flagged Values button clicked');

    // Make an AJAX request to fetch flagged values questions
    fetch('/show_flagged_values_questions', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        },
    })
    .then(response => response.json())
    .then(data => {
        const flaggedValuesQuestions = data.questions;

        // Update the question container with flagged values questions
        questionContainer.innerHTML = ''; // Clear existing content

        // Iterate through flagged values questions and append to the question container
        flaggedValuesQuestions.forEach(question => {
            const questionElement = document.createElement('p');
            questionElement.textContent = question;
            questionContainer.appendChild(questionElement);
        });

        // Hide other buttons on the flagged values page
        yesBtn.style.display = 'none';
        noBtn.style.display = 'none';
        backBtn.style.display = 'none';
        findMissingBtn.style.display = 'none';
        findMissingYesBtn.style.display = 'none';
        findMissingNoBtn.style.display = 'none';
        findMissingBackBtn.style.display = 'none';
        submitAnswerBtn.style.display = 'inline-block';
    })
    .catch(error => console.error(error));
}

            // Function to handle button clicks on the index page
            function handleIndexPageButtonClick(buttonId) {
                if (buttonId === 'yes') {
                    answerYes_index();
                } else if (buttonId === 'no') {
                    answerNo_index();
                } else if (buttonId === 'back') {
                    goBack_index();
                }
            }

            function handleFindMissingPageButtonClick(buttonId) {
            // Function for handling button clicks on the find_missing_values page
            if (buttonId === 'yes') {
                findMissingPageAnswerYes();
            } else if (buttonId === 'no') {
                findMissingPageAnswerNo();
            } else if (buttonId === 'back') {
                findMissingPageGoBack();
            }
        }
            
// Function to handle button click on the flagged values page
function handleFlaggedValuesButtonClick(buttonId) {
    if (buttonId === 'submit-answer') {
        console.log('Submitting flagged values answers');
    }
}

//Event listener for the 'Submit Answer' button on flagged values page
document.getElementById('submit-answer-btn').addEventListener('click', function () {
    console.log('Submit button clicked');
    handleFlaggedValuesButtonClick('submit-answer');
});

            // Event listener for the 'Show Flagged Values' button
            document.getElementById('show-flagged-values-btn').addEventListener('click', function(){
                showFlaggedValuesQuestions();
                console.log('FROM INDEX Flagged Values Questions:', flaggedValuesQuestions);

            });

            // Event listeners for index page buttons
            document.getElementById('index-yes-btn').addEventListener('click', function () {
                handleIndexPageButtonClick('yes');
            });

            document.getElementById('index-no-btn').addEventListener('click', function () {
                handleIndexPageButtonClick('no');
            });

            document.getElementById('index-back-btn').addEventListener('click', function () {
                handleIndexPageButtonClick('back');
            });

            // Event listeners for find_missing_values page buttons
            findMissingYesBtn.addEventListener('click', function () {
                handleFindMissingPageButtonClick('yes');
            });

            findMissingNoBtn.addEventListener('click', function () {
                handleFindMissingPageButtonClick('no');
            });

            findMissingBackBtn.addEventListener('click', function () {
                handleFindMissingPageButtonClick('back');
            });

                if (totalQuestions > 0) {
                    displayQuestion();
                } else {
                    alert('No questions found.');
                }
        });
    </script>

</body>
</html>